body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #15202b;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w-100 {
  width: 100%;
}

.header-home {
  padding-top: 20px;
  padding-bottom: 50px;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer {
  margin-top: 30px;
  height: 100px;
  border-top: #070808 0.1px solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
a,.postLayout_heading {
 
  color: #ffa229;
}
a:hover {
  color: #e2870f;
}
.post-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
}